.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
    margin-right:10px ;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-details{
    padding-left: 10px;

}
button{
    background: orange;
    padding: 5px 30px;
    border: 1px solid orange;
    cursor: pointer;
}